# dotenv environment variables file
.env

# compiled output
node_modules

# OS
.DS_Store

# Tests
/coverage
/.nyc_output
build

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json